<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My page{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block page_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="#">Product</a>
        </nav>
    </header>
    <main id="main-content">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p class="footer-text">&copy; 2023 My Website</p>
    </footer>
</body>
</html>